@font-face {
	font-family: yoster;
	src: url(../include/gfx/yoster.ttf);
}
@font-face {
	font-family: arcade;
	src: url(../include/gfx/arcade.TTF);
}
* {
	padding: 0;
	margin: 0;
	outline: none;
		user-select: none;
	
}
body {
	font-family: arcade;
	overflow: hidden;
}

.game--message{
	position: fixed;
	width:100%;
	text-align: center;
	z-index:100000;
	height:10vh;;
	top: 20%;
	visibility: hidden;
	color: yellow;
	font-family: yoster;
	font-size:60px;
}

.UI {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #292929;
	color: white;
	text-align: center;
	&__menu {
		width: 50%;
		height: 50%;
		&__headline {
			font-size: 80px;
			font-family: yoster;
			background: -webkit-linear-gradient(rgb(64, 133, 224), #fff);
			-webkit-background-clip: text;
			background-clip: text;
			padding: 5px;
			-webkit-text-fill-color: transparent;
		}

		&__links {
			text-align: center;
			&__link {
				cursor: pointer;
				list-style-type: none;
				padding: 5px;
				font-size: 40px;
				color: rgb(64, 133, 224);
			}
			&__link:hover {
				color: #fff;
			}
		}
		p {
			padding: 5px;
		}
	}
}

.store {
	width: 90%;
	height: 90vh;
	top: 5%;
	left: 5%;
	transform: translateX(150%);
	position: fixed;
	transition: 0.5s;
	font-family: arcade;
	z-index: 999;
	background-color: #0b317a;
	border: 2px dashed #ff7272;
	display: flex;
	flex-direction: row;
	.w {
		width: 200px;
		height: 50px;
		border-top:5px solid white;
		border-bottom: 5px solid black;
		font-family: arcade;
		border-right: 5px solid black;
		cursor: pointer;
	}
	&__selector {
		width: 20%;
		height: 100%;
		border-right: 2px dashed #ff7272;
		display: flex;
		flex-direction: column;
		&__sel1,
		&__sel2,
		&__sel3 {
			width: 100%;
			height: 5%;
			background-color: transparent;
			color: #ff7272;
			border: 2px dashed #ff7272;
			cursor: pointer;
		}
	}
	&__content {
		width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column;
		color: #ff7272;
		&__headline {
			width: 100%;
			height: 10%;
			text-align: center;
			padding: 10px;
			font-family: yoster;
		}
		&__balance{
			width: 100%;
			height: 10%;
			text-align: center;
			color: #f1db4f;
			padding: 10px;
			font-family: yoster;
		}
		&__content {
			width: 100%;
			height: 90%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.skin{
				width:50px;
				cursor: pointer;
				height: 50px;
			}
			.skin:hover{
				transform: scale(1.2);
			}
		}
	}
}

.paused {
	width: 100%;
	height: 100vh;
	background-color: transparent;
	z-index: 1001;
	position: fixed;
	transition: 0.5s;
	transform: translateX(-100%);
	top: 0;
	left: 0;
	&__efect0 {
		width: 30%; //30
		height: 100%;
		background-color: #c52b30;
		z-index: 1001;
		transform: rotate(-20deg); //-20deg
		position: fixed;
	}
	&__efect1 {
		width: 25%; //25
		height: 100%;
		background-color: #373485;
		z-index: 1002;
		transform: rotate(-10deg); //-10deg
		position: fixed;
	}
	&__content {
		width: 20%;
		height: 100%;
		background-color: #33a0d1;
		z-index: 1003;
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			font-size: 50px;
			font-family: yoster;
		}
		button {
			width: 90%;
			margin-top: 20px;
		}
		.stats {
			padding: 20px;
		}
	}
	&__opacity {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1000;
		background-color: rgba(0, 0, 0, 0.795);
	}
}

.credits {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	display: none;
	left: 0;
	z-index: 9999;
	background-color: #ffffff;
	background-image: linear-gradient(242deg, #ffffff 0%, #6284ff 50%, #ff0000 100%);

	&__content {
		width: 90%;
		height: 90%;
		margin-left: 5%;
		margin-top: 2.5%;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		.s {
			font-size: 60px;
			font-family: yoster;
			padding: 20px;
		}
		&__list{
			font-weight: 100;
			font-family: yoster;
		}
	}
}


.HowToPlay{
	width:100%;
	height:100vh;
	background-color: transparent;
	z-index: 9999;
	top: 0;
	display: none;
	left: 0;
	position: fixed;
	&__content{
		width:50%;
		height:50%;
		letter-spacing: 1.2px;
		margin:25%;
		background-color: #0b317a;
		color: white;
		overflow: auto;
		h1,h2,p{
			padding-left:10px;
			padding-top: 5px;
		}
		&__red{
			width:90%;
			height:20px;
			cursor: pointer;
			background-color: red;
			margin:5px 5%;
			text-align: center;
		}
		&__red:hover{
			font-size: 105%;
		}
	}
}