.credits {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	display: none;
	left: 0;
	z-index: 9999;
	background-color: $light-yellow;
	background-image: linear-gradient(
		242deg,
		$light-yellow 0%,
		$blue 50%,
		$red 100%
	);

	&__content {
		width: 90%;
		height: 90%;
		margin-left: 5%;
		margin-top: 2.5%;
		background-color: $black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		.s {
			font-size: 60px;
			font-family: yoster;
			padding: 20px;
			color: $sky-blue;
		}
		&__list {
			font-weight: 100;
			font-family: yoster;
		}
	}
}
