.HowToPlay {
	width: 100%;
	height: 100vh;
	background-color: transparent;
	z-index: 9999;
	top: 0;
	display: none;
	left: 0;
	position: fixed;
	&__content {
		width: 50%;
		height: 50%;
		letter-spacing: 1.2px;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 10%;
		margin-top: 15%;
		background-color: $dark-blue;
		color: white;
		overflow: auto;
		h1,
		h2,
		p {
			padding-left: 10px;
			padding-top: 5px;
		}
		&__red {
			width: 90%;
			height: 20px;
			cursor: pointer;
			background-color: $red-ish;
			margin: 5px 5%;
			text-align: center;
		}
		&__red:hover {
			font-size: 105%;
		}
	}
}
