.paused {
	width: 100%;
	height: 100vh;
	background-color: transparent;
	z-index: 960;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.384);
	&__content {
		width: 80%;
		height: 80%;
		margin: 5%;
		margin-left: 10%;
		margin-right: 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1 {
			font-size: 60px;
		}
		p {
			font-size: 30px;
			font-family: arcade;
		}
		button {
			width: 100px;
			height: 30px;
			border-top: 5px solid $light-yellow;
			border-bottom: 5px solid $black;
			font-family: arcade;
			background-color: gray;
			border-right: 5px solid $black;
			cursor: pointer;
		}
	}
}
