@font-face {
	font-family: yoster;
	src: url(../../../assets/fonts/yoster.ttf);
}
@font-face {
	font-family: arcade;
	src: url(../../../assets/fonts/arcade.TTF);
}
//TwoD_colors.wicked_skies
$black: #00000f;
$v-dark-blue: #000133;
$dark-blue: #000356;
$blue: #0203e2;
$sky-blue: #00cdfe;
$purple: #680880;
$pink: #fe007d;
$red: #de1738;
$red-ish: #fd5e53;
$orange: #fc9c54;
$yellow: #ffe373;
$light-yellow: #fafbbd;
